{% for employee in users %}
      <tr>
          <td>{{ employee.id }}</td>
          <td>{{ employee.username}}</td>
          <td>{{ employee.first_name }}</td>
          <td>{{ employee.last_name }}</td>
          <td>{{ employee.email }}</td>
          <td>
              {{ employee.is_superuser}}
          </td><td>
              {{ employee.is_teacher}}
          </td><td>
              {{ employee.is_student}}
          </td>
          <td style="width: 150px">
 <a href="{% url 'users_update' employee.id %}" type="button"  class="btn btn-success btn-sm">
                <span class="glyphicon glyphicon-pencil"></span>
 </a>
            <button type="button"
                    class="btn btn-primary btn-sm js-view-employee"
                    data-url="{% url 'users_view' employee.id %}">
              <span class='glyphicon glyphicon-eye-open'></span>
            </button>
          </td>
      </tr>
        {% empty %}
          <tr>
            <td colspan="8" class="text-center bg-warning">No employee</td>
          </tr>
{% endfor %}