{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  <div class="container">
    <h2 class="mb-3">Enroll and Update Your Course</h2>
    <form method="post" novalidate>
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-success">Save changes</button>
      <a href="{% url 'quiz_list' %}" class="btn btn-outline-secondary">Nevermind</a>
    </form>
  </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}
