{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>


  <div class="container">
    {% include 'Student/_header.html' with active='new' %}
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Quiz</th>
          <th>Subject</th>
          <th>Length</th>

          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for quiz in quizzes %}
          <tr>
            <td class="align-middle">{{ quiz.name }}</td>
            <td class="align-middle">{{ quiz.subject }}</td>
            <td class="align-middle">{{ quiz.questions_count }} questions</td>

            <td class="text-right">
              <a href="{% url 'take_quiz' quiz.pk %}" class="btn btn-primary">Start quiz</a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="4">No quiz matching your interests right now.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  </div>>
<br>
<br>
<br>
<br>
<br>
{% endblock %}
