{% extends 'Teacher/TeacherNavbar.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<br>

<div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
        <div class="x_title">
            <h2>Button Example <small>Users</small></h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box table-responsive">
                        <table class="table" id="datatable-buttons"  style="width:100%">
                            <thead>
                                    <th>id</th>
                                    <th>question</th>
                                     <th>answer</th>
                            </thead>
                            <tbody>
                                   {% for question in question %}
                                    <tr>
                                       <td><p> {{ question.id }}</p></td>
                                       <td><p class="lead">{{ question.text }}</p></td>
                                       <td>
                                           {% for answer in answer %}
                                               <p class="lead">{{ answer.text }}</p>
                                                    <br>
                                           {% endfor%}
                                      </td>
                                    </tr>

                                   {% endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}