{% extends 'Teacher/TeacherNavbar.html' %}

{% load static %}

{% block javascript %}
  <script src="{% static 'Teacher/Course/course.js' %}"></script>
{% endblock %}

{% block content %}
<br>

  <p>
      <a href="{% url 'course_create' %}" type="button" style="float:right;" class="btn btn-primary">
         <span class="glyphicon glyphicon-plus"></span>
            New Course
      </a>
  </p>
<div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
        <div class="x_title">
            <h2>Button Example <small>Users</small></h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box table-responsive">
                        <table class="table" id="datatable-buttons"  style="width:100%">
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>CourseName</th>
                                    <th>Description</th>
                                    <th>Picture</th>
                                    <th></th>

                                </tr>
                            </thead>
                            <tbody>
                                    {% include 'Teacher/Course/partial_course_list.html' %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-course">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
</div>


{% endblock %}