{% load static %}
{% block content %}
<br xmlns="http://www.w3.org/1999/html">
<br>
<br>

<div class="site-section">
      <div class="container">
        <div class="row mb-5 justify-content-center text-center">
          <div class="col-lg-6 mb-5">
            <h2 class="section-title-underline mb-3">
              <span>Popular Courses</span>
            </h2>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
              <div class="owl-slide-3 owl-carousel">
                {% for course in courses %}
                  <div class="course-1-item">
                    <figure class="thumnail">
                      <a href="{% url 'Home_Course_Details' course.pk %}"><img src="{{ course.picture.url }}" alt="Image" class="img-fluid" style="height: 350px; width:350px;"></a>
                      <div class="category"><a href="#"><h3>{{ course.CourseName }}</h3></a></div>
                    </figure>
                    <div class="course-1-content pb-4">
                         <p class="card-text"  style="color:#662d91;">By {{ course.username }}</p>
                      <div class="rating text-center mb-3">
                        <span class="icon-star2 text-warning"></span>
                        <span class="icon-star2 text-warning"></span>
                        <span class="icon-star2 text-warning"></span>
                        <span class="icon-star2 text-warning"></span>
                        <span class="icon-star2 text-warning"></span>
                      </div>
                      <p><a href="{% url 'Home_Course_Details' course.pk %}" class="btn btn-primary rounded-0 px-4"> Course Details</a></p>
                    </div>
                    <div class="course-1-content pb-4 card-footer">
                         <center>
                           <span class="enrolled">
                             {{ Enroll_Count }} Enrolled
                           </span>
                         </center>
                    </div>
                  </div>
                {% endfor%}
              </div>
          </div>
        </div>
      </div>
</div>
{% endblock content %}