            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                  <li>
                    <a href="{% url 'SuperAdminHome' %}"><i class="fa fa-home"></i> Home </a>
                  </li>
                      <li>
                        <a href="{% url 'users_list' %}"><i class="fa fa-home"></i> User </a>
                      </li>

                  <li>
                    <a> <i class="fa fa-desktop"></i>Profile</a>
                    <ul class="nav child_menu">
                      <li><a href="{% url 'SuperAdminProfile' %}">Profile</a></li>
                      <li><a href="{% url 'SuperAdmin_change_email' %}">Change Email</a></li>
                      <li><a href="{% url 'SuperAdmin_change_password' %}">Change Password</a></li>

                    </ul>
                  </li>
                  <li>
                    <a href="{% url 'log_out' %}"><i class="fa fa-sign-out"></i> Log Out </a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- /sidebar menu -->